@import '../reutilizables/formateo';

.content_cuerpo
{
        margin-top: 20px;
        .section
        {
                padding: 25px 10%;
                display: flex;
                align-items: center;
                .section_descripcion
                {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .section_titulo
                        {
                                font-size: 2.5em;
                                span{
                                        color: $color_principal;
                                        text-shadow: 0px 0px 4px $color_principal;
                                }
                        }
                        .section_descripcion
                        {
                                
                                margin: 20px 0;
                        }
                        .section_btn
                        {
                                margin-left: 10px;
                                .btn
                                {
                                        border: none;
                                        border-radius: 15px;
                                        padding: 7px 15px;
                                        text-align: center;
                                        text-decoration: none;
                                        height: max-content;
                                        cursor: pointer;
                                        background-color: $color_principal;
                                        color: white;
                                        font-weight: 600;
                                        animation: scale 0.5s ease;
                                        &:hover{
                                                box-shadow: 3px 2px 5px $color_principal;
                                        }
                                }
                        }
                }
                .section_imagen
                {
                        width: 10em;
                        height: 10em;
                }
        }

        // .section_1

        .section_2
        {
                background: $color_secundario;
                margin-top: 30px;
                .section_descripcion
                {
                        display: flex;
                        justify-content: center;
                        padding: 0 10px;
                }
                .section_imagen
                {
                        margin-right: 10px;
                }
        }

        .section_3
        {
                padding: 25px 3%;
                display: flex;
                flex-direction: column;
                .section_titulo
                {
                        text-align: center;
                        color: $color_principal;
                        text-shadow: 0px 0px 4px $color_principal;
                        font-size: 2.5em;
                        margin-bottom: 10px
                }
                .card_productos
                {
                        display: flex;
                        flex-direction: row;
                        overflow: hidden;
                        overflow-x: auto;
                        padding: 10px 0;
                        cursor: pointer;
                        scrollbar-width: thin;
                        scrollbar-color: $color_principal transparent;
                        /* Webkit browsers */
                                &::-webkit-scrollbar {
                                        height: 10px; /* Adjust the height of the scrollbar */
                                }
                                
                                &::-webkit-scrollbar-track {
                                        background: transparent; /* Color de fondo de la barra de desplazamiento */
                                }
                        .producto
                        {
                                min-width: 250px;
                                height: max-content;
                                background-color: $color_secundario;
                                box-shadow: 0 4px 8px $color_secundario;
                                overflow: hidden;
                                transition: all 0.3s ease;
                                border-radius: 10px;
                                border: 1px solid #5f4a4a24;
                                padding: 10px 15px;
                                margin-right: 20px;
                                &:hover{
                                        background-image: url('/Imagenes/fomdo rosa.jpg'); 
                                        background-size: cover;
                                        background-position: center; 
                                        transform: scale(1.10);
                                        color: white;
                                        &::before {
                                                content: "";
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                width: 100%;
                                                height: 100%;
                                                background-color: rgba(0, 0, 0, 0.3); /* Color oscuro semi-transparente */
                                                border-radius: 10px;
                                                z-index: -1;
                                            }
                                }
                                .producto_imagen
                                {
                                        width: max-content;
                                        padding: 5px;
                                        background-color: white;
                                        border-radius: 50%;
                                        .p_imagen
                                        {
                                                width: 30px;
                                        }
                                }
                                .detalles
                                {
                                        overflow: hidden;
                                        width: 100%;
                                        .detalles_titulo
                                        {
                                                font-size: .9em;
                                        }
                                        .detalles_descripcion
                                        {
                                                font-size: .7em;
                                        }
                                }
                        }
                }
        }
}

@keyframes scale {
        0% {
          -webkit-transform: scale(0);
                  transform: scale(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          opacity: 1;
        }
      }

@media (max-width: 800px) {
        .content_cuerpo
        {
                .section_3
                {
                        padding: 15px 0px;
                }
        }
      }
@media (max-width: 650px) {
        .content_cuerpo
        {
                .section
                {
                        padding: 15px 10px;
                        display: flex;
                        justify-content: center;
                        .section_descripcion
                        {
                                .section_titulo
                                {
                                        font-size: 2em;
                                }
                                .section_descripcion
                                {
                                        font-size: .9em;
                                }
                        }
                        .section_imagen
                        {
                                width: 150px;
                                height: auto;
                        }
                }
        }
}