* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: lighter;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

img {
  width: 100px;
}

.content_footer {
  background: rgb(29, 29, 29);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 150px;
}
.content_footer .nombre, .content_footer .helados, .content_footer .redes_sociales, .content_footer .sect_email {
  border-right: 1px solid rgba(192, 192, 192, 0.723);
  flex: 0px 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
}
.content_footer .nombre .div h2 {
  font-size: 0.9em;
  letter-spacing: 2px;
}
.content_footer .nombre .div b {
  font-size: 1em;
  color: rgba(192, 192, 192, 0.723);
  font-weight: 800;
  letter-spacing: 2px;
}
.content_footer .nombre .div p {
  font-size: 0.7em;
  margin-top: 10px;
}
.content_footer .helados .div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.content_footer .helados .div .claro {
  display: flex;
  flex-direction: column;
  color: white;
}
.content_footer .helados .div .oscuro {
  display: flex;
  flex-direction: column;
  color: rgba(192, 192, 192, 0.723);
}
.content_footer .redes_sociales {
  flex-direction: row;
}
.content_footer .redes_sociales .contenedor_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.content_footer .redes_sociales .icon {
  text-decoration: none;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 14px;
  background-color: hsla(209, 20%, 70%, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.content_footer .redes_sociales .icon > i {
  color: #2dd4bf;
  font-size: 1.5rem;
  transition: all 0.2s;
}
.content_footer .redes_sociales .icon:hover > i {
  scale: 1.2;
  color: #f1f1f1;
}
.content_footer .redes_sociales .icon:before {
  background: var(--color-redes);
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  left: -110%;
  top: 80%;
  transform: rotate(45deg);
}
.content_footer .redes_sociales .icon:hover:before {
  animation: slide 0.7s forwards;
}
@keyframes slide {
  50% {
    left: 10%;
    top: -40%;
  }
  100% {
    left: -15%;
    top: -15%;
  }
}
.content_footer .redes_sociales .icon:has(.fa-instagram) {
  --color-redes: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}
.content_footer .redes_sociales .icon:has(.fa-linkedin-in) {
  --color-redes: #0077b5;
}
.content_footer .redes_sociales .icon:has(.fa-youtube) {
  --color-redes: #ff0000;
}
.content_footer .redes_sociales .icon:has(.fa-x-twitter) {
  --color-redes: #1da1f2;
}
.content_footer .redes_sociales .icon:has(.fa-github) {
  --color-redes: #333;
}
.content_footer .sect_email input[type=email] {
  margin: 10px 0;
  height: 20px;
  padding: 0 10px;
  border-radius: 7px;
}
.content_footer .sect_email input[type=button] {
  padding: 5px 10px;
  background: rgb(37, 204, 73);
  box-shadow: rgba(106, 180, 53, 0.1) 0px 10px 15px -3px, rgba(74, 171, 32, 0.05) 0px 4px 6px -2px;
}

@media (max-width: 860px) {
  .content_footer {
    display: flex;
    flex-direction: column;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
  }
  .content_footer .nombre, .content_footer .helados, .content_footer .redes_sociales, .content_footer .sect_email {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid rgba(192, 192, 192, 0.723);
  }
}/*# sourceMappingURL=footer.css.map */