* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: lighter;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

img {
  width: 100px;
}

header {
  background-color: #f9e5df;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  z-index: 1000;
}
header .header_img {
  flex: 1 1 1;
  width: 35px;
}
header .titulo_page {
  font-size: 1em;
}
header .content_nav_responsive {
  width: 100%;
  display: flex;
  align-items: center;
}
header .content_nav_responsive .btn_amburgesa {
  display: none;
}
header .content_nav_responsive .nav_navegation {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
header .content_nav_responsive .nav_navegation .nav_ul {
  display: flex;
}
header .content_nav_responsive .nav_navegation .ul__li {
  list-style-type: none;
  margin: 0 10px;
  cursor: pointer;
}
header .content_nav_responsive .nav_navegation .li_enlaces {
  font-size: 1em;
  font-weight: 600;
}
header .content_nav_responsive .nav_navegation .li_enlaces:hover {
  color: #ec5f5f;
  text-shadow: 0px 0px 2px #ec5f5f;
}
header .content_nav_responsive .btn_contacto {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 12px 0px;
  font-size: 1em;
  font-weight: 550;
  letter-spacing: 0.5px;
  padding: 5px 10px;
  text-decoration: none;
  height: -moz-max-content;
  height: max-content;
  cursor: pointer;
  background-color: #ec5f5f;
  color: white;
}

@media (max-width: 600px) {
  header {
    padding: 10px 5px;
  }
  header .content_nav_responsive {
    display: flex;
    flex-direction: row-reverse;
  }
  header .content_nav_responsive .btn_amburgesa {
    display: inline-block;
    font-size: 1.5em;
    color: #ec5f5f;
    padding: 0 5px;
  }
  header .content_nav_responsive .nav_navegation, header .content_nav_responsive .btn_contacto {
    display: none;
  }
  header .cerrar {
    position: absolute;
    padding-top: 10px;
    background: #f9e5df;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    left: 0;
  }
  header .cerrar .btn_amburgesa {
    font-size: 1.5em;
    padding: 5px 5px;
    margin-right: 15px;
    transform: rotate(90deg);
  }
  header .cerrar .nav_navegation, header .cerrar .btn_contacto {
    display: flex;
    flex-direction: column-reverse;
  }
  header .cerrar .nav_navegation {
    margin: 10px 0 0 0;
    width: 100%;
  }
  header .cerrar .nav_navegation .nav_ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  header .cerrar .nav_navegation .nav_ul .ul__li {
    width: 100%;
    font-size: 1.2em;
    border-top: 1px solid rgba(0, 0, 0, 0.564);
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 15px;
  }
  header .cerrar .btn_contacto {
    width: 100%;
    border-radius: 0;
    padding: 10px 0;
  }
}/*# sourceMappingURL=style.css.map */